.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: black solid 1px;
  z-index: 2;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  padding: 0;
}